$mainColor: #00a3f4;
$textColor: #5a5a5a;
$lightColor: #dff4ff;
$hoveredMainColor: #0191da;
$secondaryColor: #ffbb00;
$hoveredSecondaryColor: #e7aa00;
$laptop-size: "only screen and (min-width: 768px)";
$desktop-size: "only screen and (min-width: 1382px)";
$mobile-size: "only screen and (min-width: 480px)";
$pad-size: "only screen and (min-width: 480px)";

.main {
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.container {
	max-width: 1100px;
	margin: 0px auto;
	display: flex;
}
.firstMainContainer {
	background: rgb(224, 244, 255);
	background: linear-gradient(
		135deg,
		rgba(224, 244, 255, 1) 0%,
		rgba(255, 255, 255, 1) 35%,
		rgba(255, 255, 255, 1) 100%
	);
	// padding-top: 20px;

	// first fold
	.firstContainer {
		display: flex;
		padding-top: 60px;
		justify-content: space-between;
		width: 100%;
		height: 500px;
		.firstLeft {
			width: 48%;

			h1 {
				font-size: 80px;

				span {
					color: #1fa385;
				}
			}
			p {
				color: $textColor;
			}
			.firstButton {
				margin-top: 28px;
				button {
					width: 184px;
					background-color: $mainColor;
					color: white;
					padding: 12px 14px;
					border-radius: 50px;
					border: none;
					font-size: 16px;
					cursor: pointer;
					outline: none;
					box-shadow: 0px 10px 39px -1px rgba(1, 145, 218, 0.62);
					-webkit-box-shadow: 0px 10px 39px -1px rgba(1, 145, 218, 0.62);
					-moz-box-shadow: 0px 10px 39px -1px rgba(1, 145, 218, 0.62);

					&:hover {
						background-color: $hoveredMainColor;
						transition: 250ms;
					}
				}
				.bertemuButton {
					background-color: white;
					margin-left: 24px;
					color: $mainColor;
					border: 1px solid $mainColor;
					outline: none;
					box-shadow: none;
					&:hover {
						color: white;
						outline: none;
					}
				}
			}
		}

		.firstRight {
			padding: 20px 0;
			width: 48%;
			display: flex;
			justify-content: center;
			.blueBg {
				position: absolute;
				left: 50%;
				color: #dff4ff;
				right: 50%;
				height: 350px;
				top: 200px;
				width: 759px;
				background-color: #dff4ff;
				border-top-left-radius: 100px;
				z-index: 100;
			}
			.blueCircular {
				z-index: 101;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
				-webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
				-moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
				border-radius: 50%;
				background-color: $mainColor;
				width: 440px;
				height: 440px;
				.orangeCircular {
					box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25) inset;
					-webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25) inset;
					-moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25) inset;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 360px;
					height: 360px;
					border-radius: 50%;
					background-color: #feba00;
					.greenCircular {
						box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25) inset;
						-webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25) inset;
						-moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25) inset;
						width: 290px;
						height: 290px;
						border-radius: 50%;
						background-color: #009170;
					}
				}
			}
			.image {
				width: 450px;
				position: relative;
				right: 80px;
			}
		}
	}
}

// second fold
.secondMainContainer {
	background: rgb(223, 244, 255);
	background: linear-gradient(
		265deg,
		rgba(223, 244, 255, 1) 0%,
		rgba(255, 255, 255, 0) 83%,
		rgba(255, 255, 255, 1) 100%
	);
	// box-shadow: 50px 50px 50px rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 143px 78px rgba(255, 255, 255, 1) inset;
	-webkit-box-shadow: 0px 0px 143px 78px rgba(255, 255, 255, 1) inset;
	-moz-box-shadow: 0px 0px 143px 78px rgba(255, 255, 255, 1) inset;
	// box-shadow: 50px 50px 50px #ffffff inset, 100px 100px 100px #ffffff;
	height: 650px;
	.secondContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		h3 {
			color: $mainColor;
			font-weight: 400;
			letter-spacing: 2px;
		}
		h1 {
			font-weight: 900;
		}
		.detail {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			.left {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 45%;
				.darkBlueLine {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 460px;
					height: 460px;
					border-radius: 50%;
					background-color: transparent;
					border: 3px solid $mainColor;

					.blueLine {
						width: 420px;
						height: 420px;
						border-radius: 50%;
						background-color: transparent;
						border: 3px solid $lightColor;
						display: flex;
						align-items: center;
						justify-content: center;
						.blueCircular {
							width: 380px;
							height: 380px;
							border-radius: 50%;
							background-color: $lightColor;
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
			.right {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				p {
					span {
						color: #00a3f4;
						font-weight: 900;
					}
					font-size: 24px;
				}
				button {
					width: 184px;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					background-color: $mainColor;
					color: white;
					padding: 12px 14px;
					border-radius: 50px;
					border: none;
					font-size: 16px;
					cursor: pointer;
					outline: none;
					box-shadow: 0px 10px 39px -1px rgba(1, 145, 218, 0.62);
					-webkit-box-shadow: 0px 10px 39px -1px rgba(1, 145, 218, 0.62);
					-moz-box-shadow: 0px 10px 39px -1px rgba(1, 145, 218, 0.62);

					&:hover {
						background-color: $hoveredMainColor;
						transition: 250ms;
					}
				}
			}
		}
	}
}

// third fold
.thirdMainContainer {
	display: flex;
	background: #fab906;
	background: linear-gradient(270deg, #fab906 0%, #ffffff 80%);
	background: -webkit-linear-gradient(270deg, #fab906 0%, #ffffff 80%);
	background: -moz-linear-gradient(270deg, #fab906 0%, #ffffff 80%);
	.containerTmp {
		max-width: 1100px;
		max-height: 500px;
		margin: 0 auto;
		display: flex;
		.thirdContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 30px 0;
			.left {
				width: 45%;
				display: flex;
				flex-direction: column;
				gap: 20px;
				.firstLeft {
					h3 {
						color: $secondaryColor;
						letter-spacing: 2px;
						font-weight: 400;
					}
					h2 {
						font-size: xx-large;
					}
				}
				.secondLeft {
					p {
						font-size: 20px;
						color: $textColor;
					}
				}
				.thirdLeft {
					button {
						width: 184px;
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 10px;
						background-color: $secondaryColor;
						color: white;
						padding: 12px 14px;
						border-radius: 50px;
						border: none;
						font-size: 16px;
						cursor: pointer;
						outline: none;
						box-shadow: 0px 10px 39px -1px $secondaryColor;
						-webkit-box-shadow: 0px 10px 39px -1px $secondaryColor;
						-moz-box-shadow: 0px 10px 39px -1px $secondaryColor;

						&:hover {
							background-color: $hoveredSecondaryColor;
							transition: 250ms;
						}
					}
				}
			}
			.right {
				width: 45%;
				display: flex;
				justify-content: flex-end;
				img {
					z-index: 102;
					position: relative;
					left: 200px;
				}
			}
		}
		.bgDesign {
			// position: absolute;
			// left: 850px;
			position: relative;
			right: 250px;
			width: 600px;
			height: 100%;
			box-shadow: 0px 0px 23px -4px rgba(0, 0, 0, 0.75) inset;

			box-shadow: 16px 0px 23px -16px rgba(0, 0, 0, 0.65) inset;
			-webkit-box-shadow: 16px 0px 23px -16px rgba(0, 0, 0, 0.65) inset;
			-moz-box-shadow: 16px 0px 23px -16px rgba(0, 0, 0, 0.65) inset;
			// border-bottom-left-radius: 300px;
			border-bottom-left-radius: 250px;
			border-top-left-radius: 250px;
			// border-top-left-radius: 30%;
		}
	}
}

// fourthfold

.fourthContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1100px;
	gap: 20px;
	.top {
		display: flex;
		flex-direction: column;
		align-items: center;

		h3 {
			color: $mainColor;
		}
		h1 {
			font-size: 36px;
		}
	}

	.bottom {
		display: flex;
		width: 100%;
		justify-content: space-between;
		img {
			filter: grayscale(100%);
			transition: 250ms;
			&:hover {
				transition: 250ms;
				transform: scale(1.2);
				filter: grayscale(0);
			}
		}
	}
}

// fifth fold
.restoMain {
	background-color: $mainColor;
	.restoContainer {
		display: flex;
		height: 400px;
		align-items: center;
		.restoLeft {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			img {
				position: relative;
				top: 220px;
				z-index: 2;
			}
			.firstCircle {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				z-index: 1;
				height: 300px;
				width: 300px;

				background-color: #005179;
				border-radius: 50%;
			}
		}
		.restoRight {
			width: 60%;
			color: white;
			display: flex;
			gap: 30px;
			justify-content: space-between;
			flex-direction: column;
			.rightFirst {
				h3 {
					font-size: 16px;
					font-weight: 400;
					letter-spacing: 2px;
				}
			}
			.rightSecond {
				p {
					font-size: 18px;
				}
			}
			.rightThird {
				button {
					width: 184px;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					background: #005179;
					color: white;
					padding: 12px 14px;
					border-radius: 50px;
					border: none;
					font-size: 14px;
					cursor: pointer;
					outline: none;
					box-shadow: 0px 10px 39px -1px rgba(0, 100, 150, 0.62);
					-webkit-box-shadow: 0px 10px 39px -1px rgba(0, 100, 150, 0.62);
					-moz-box-shadow: 0px 10px 39px -1px rgba(0, 100, 150, 0.62);

					&:hover {
						background: #003e5e;
						transition: 250ms;
					}
				}
			}
		}
	}
}
.supplierMain {
	position: relative;
	z-index: 2;
	background: #009673;
	max-height: 400px;
	.supplierContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: 400px;
		.supplierLeft {
			height: 100%;
			width: 60%;
			display: flex;
			gap: 30px;
			// justify-content: space-between;
			flex-direction: column;
			color: white;
			.leftFirst {
				h3 {
					font-size: 16px;
					font-weight: 400;
					letter-spacing: 2px;
				}
			}
			.leftSecond {
				p {
					font-size: 18px;
				}
			}
			.leftThird {
				button {
					width: 184px;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					background: #005844;

					color: white;
					padding: 12px 14px;
					border-radius: 50px;
					border: none;
					font-size: 14px;
					cursor: pointer;
					outline: none;
					box-shadow: 0px 10px 39px -1px rgba(0, 88, 68, 1);

					-webkit-box-shadow: 0px 10px 39px -1px rgba(0, 88, 68, 1);
					-moz-box-shadow: 0px 10px 39px -1px rgba(0, 88, 68, 1);

					&:hover {
						background: #004131;
						transition: 250ms;
					}
				}
			}
		}
		.supplierRight {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			img {
				position: relative;
				top: 260px;
				z-index: 2;
			}
			.firstCircle {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				z-index: 1;
				height: 300px;
				width: 300px;
				color: #005844;
				background: #005844;
				border-radius: 50%;
			}
		}
	}
}
