$linkColor: #00a3f4;

.headerContainer {
	width: 100%;
	position: fixed;
	z-index: 102;
	padding-top: 20px;
	.header {
		max-width: 1100px;
		margin: 0px auto;
		display: flex;
		justify-content: space-between;
		.image {
			width: 75px;
		}

		.right {
			font-family: "Roboto";
			font-weight: 500;
			display: flex;
			gap: 16px;
			.navbarLink {
				cursor: pointer;
				&:hover {
					color: $linkColor;
					transition: 250ms;
					background-image: linear-gradient(
						to bottom,
						$linkColor 33%,
						rgba(255, 255, 255, 0) 0%
					);
					background-position: bottom;
					background-size: 24px 8px;
					background-repeat: repeat-x;
				}
				&:focus {
					color: $linkColor;
				}
			}
		}
	}
}
.scroll {
	transition: 250ms;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 16px 30px -5px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 16px 30px -5px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 16px 30px -5px rgba(0, 0, 0, 0.18);
	background-color: white;
	padding-bottom: 10px;
}
